*.pyc
*~
i18n/mo/*
log/*.log
data/objectstore
data/screenshots/*.png
mo
autom4te.cache
Makefile
Makefile.in
configure
config.log
config.status
*.min.css
*.min.js
*.gmo
stamp-po
kimchi-*.tar.gz
src/burnetd
po/POTFILES
*.orig
*.rej
